body{
    
    background-color: #4d77ff;
    height: 1080px;
    width: 1080px;
    display: flex;
    justify-content: center;
}
.maincontainer{
    background-color: #4d77ff;
    height: 800px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.maincontainer h4{
    margin:20px;
    font-family:Arial, Helvetica, sans-serif;
    color: #f2fa5a;

}
.cabecalho{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin:20px;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    
}
.contacts{
    text-transform: uppercase;
    font-weight: 150;
    font-size: 16px;
    color:#f2fa5a
    
}
.search{
    background-color: yellow;
    font-size: 14px;
    border-radius: 48px;
    width: 30%;
    height: 43%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.search h2{
   font-weight: 100;
   color: rgb(118,118,118);
}
.main{
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card{
    background-color: #56bbf1;
    width: 600px;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items:center;
    font-family:Arial, Helvetica, sans-serif;
}
.profilepic{
    padding: 10px;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}
.fotoenome{
    display: flex;
}
.buttons{
    display: flex;
    margin:20px;
}
.buttons p{
    color:#f2fa5a;
    justify-content: center;
    background-color: #5feebe;
    border-radius: 8px;
    padding:8px;
    width:fit-content;
    height: max-content;
    margin-left:20px;
    margin-top: 20px;
}

.p1{
    color:#f1e1a6;
    margin-top: 30px;
    margin-left: 24px;
    font-weight: 500;
}
.p2{
    color:#f4bbbb;
    margin-left: 24px;
}

